body {
  background: linear-gradient(45deg, #fc466b, #3f5efb);
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h1 {
  margin: 0;
}

input {
  background: transparent;
  width: 200px;
  height: 25px;
  margin-bottom: 1em;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: Montserrat, sans-serif;
  transition: all 0.2s ease-in-out;
}

button {
  background: transparent;
  margin-bottom: 2em;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.3);
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  color: rgb(0, 0, 0);
  font-family: Montserrat, sans-serif;
  transition: all 0.2s ease-in-out;
}

.container {
  height: 95vh;
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  padding: 75px 50px 50px;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

@media (max-width: 575.98px) {
  .container {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
  }
}
